<!doctype html>
<html>
    <head>
        <title>The Drama Generator</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <a href="https://github.com/elifoster/drama-rb">
            <img src="/fork_me_hard_baby.png" alt="Fork me on GitHub">
        </a>
        <h1>The Drama Generator: Ruby Edition!</h1>
        <h2><%= generate_sentence %></h2>
        <br>
        <h3><a href=".">Get more drama!</a></h3>
        <h5>Generator originally created by Asie.</h5>
        <h6>Are you a developer? Parse the <a href="/raw">raw version</a> instead of this page for the love of performance!</h6>
    </body>
</html>
